
//color picker
$icon-font-path: "../vendors/bootstrap-sass/fonts/";


//navbar
$navbar-default-color:  #000;
$navbar-default-bg:     #000;
$navbar-default-border: #000;
$navbar-border-radius: none;

$navbar-default-link-hover-color: #fcc246;//#ce6005;