<p>
    Poznań, dnia _ _ _ _ - _ _ - _ _
</p>

<h1>Deklaracja członkowska Stowarzyszenia Nigmalabs</h1>

<p>
    Ja, niżej podpisany, deklaruję niniejszym chęć wstąpienia do stowarzyszenia Nigmalabs. Oświadczam, że zapoznałem się ze statutem stowarzyszenia Nigmalabs i zobowiązuję się do przestrzegania jego postanowień, a w szczególności do regularnego opłacania składek członkowskich w wysokości uchwalonej przez Walne Zgromadzenie Członków oraz do aktywnego uczestnictwa w działalności stowarzyszenia.
</p>
<p>
    Jednocześnie wyrażam zgodę na przechowywanie i przetwarzanie moich danych osobowych przez stowarzyszenie Nigmalabs w celach związanych z działalnością statutową stowarzyszenia. Przysługuje mi prawo wglądu w te dane, ich poprawianie, uzupełnianie lub usunięcie. 
</p>


<div class="row">
    <div class="col-md-2">Podpis:</div>
    <div class="col-md-4">................................................</div>
</div>
<div class="row">
    <div class="col-md-2">Telefon:</div>
    <div class="col-md-4">................................................</div>
</div>
<div class="row">
    <div class="col-md-2">Adres e-mail:</div>
    <div class="col-md-4">................................................</div>
</div>
<div class="row">
    <div class="col-md-2">Adres do korespondencji:</div>
    <div class="col-md-4">................................................</div>
</div>


<div class="space-v">
    <a href="/resources/docs/deklaracja.pdf">Pobierz PDF</a>
</div>



