<div id="hatta-content"> 
    <hr><p id="line_1"><b>Czy mogę przyjść zobaczyć co robicie nie będąc członkiem?</b>
    </p><p id="line_3">Oczywiście! Wszystkie spotkania mają charakter otwarty i jak najbardziej zapraszamy na nie wszystkich zainteresowanych.
    </p><hr><p id="line_5"><b>Co właściwie robicie na spotkaniach?</b>
    </p><p id="line_7">To się zmienia w zależności od tego, kto akurat przyjdzie. Czasem pracujemy wspólnie nad jakimś projektem (rzutnik laserowy, drukarka 3d), czasem ktoś z nas robi jakąś prezentację albo szkolenie (turbiny wiatrowe, budowanie latawców, programowanie arduino), ostatnio dość sporo czasu poświęcamy oraganizowaniu naszej przestrzeni (zakładanie instalacji elektrycznej, zainstalowanie domofonu, meble, oświetlenie), a czasem po prostu idziemy gdzieś na piwo (lub herbatę).
    </p><hr><p id="line_9"><b>Dla kogo to wszystko? Czy ja się kwalifikuję?</b>
    </p><p id="line_11">Jeśli czytasz tę stronę i interesujesz się tym, co to właściwie jest hackerspace, to prawdopodobnie tak. Nigmalabs jest dla ludzi, którzy chcą coś zrobić, ale niekoniecznie chcą to robić sami, niekoniecznie mają gdzie i niekoniecznie wiedzą dokładnie jak się do tego zabrać.
    </p><hr><p id="line_13"><b>Jeśli opiszę wam swój pomysł, to go zrealizujecie?</b>
    </p><p id="line_15">Na to są raczej małe szanse. Jeśli autor pomysłu sam nie ma ochoty go realizować, to raczej za daleko z nim nie zajdzie. Ponieważ nikogo do niczego nie zmuszamy, to autor danego projektu musi zająć się jego organizacją i zebraniem zespołu. Zwykłe rzucenie pomysłu i poskutkuje tylko tym, że będziemy życzyć powodzenia.
    </p><hr><p id="line_17"><b>Pomysł mi się podoba i go popieram, ale nie mam czasu na spotkania i projekty. Co mogę zrobić?</b>
    </p><p id="line_19">Od nikogo nie wymagamy, żeby przychodził na spotkania (poza walnym zebraniem członków raz do roku) i nie będziemy mieli nikomu za złe nieobecności. Z drugiej strony, jeśli nie przyjdziesz, to raczej nie będziesz mieć żadnych korzyści z hackersapce-a, a twoje składki członkowskie i tak zostaną zużyte na czynsz, narzędzia i materiały.
    </p><hr><p id="line_21"><b>Włamujecie się na strony internetowe i do banków?</b>
    </p><p id="line_23">Nie. Słowo "hacker" w nazwie "hackerspace" jest uzyte w bardziej ogólnym znaczeniu kogoś, kto stopsuje "haki", czyli sprytne rozwiązania, a nie w znaczeniu, jakiego temu słowu nadają często dziennikarze kiedy piszą o przestępcach.</p>
    <div id="hatta-footer"> 


    </div>

</div>