{% extends '::base.html.twig' %}

{% block title %}Finanse{% endblock %}

{% block content %}
    <h1>Finanse</h1>
    <noscript>
        Ta strona wymaga obsługi javascript
    </noscript>
{% endblock %}