{% extends '::base.html.twig' %}

{% block content %}
<h1>O nas</h1>

NigmaLabs to <a href="#/statut">stowarzyszenie</a>. Zrzeszamy ludzi zajmujących się elektroniką i lubiących majsterkować. 
Dla części to hobby dla innych praca. Jesteśmy różni ale łączy nas pasja i chęć rozwoju. Tworzymy społeczność ludzi o podobnych zainteresowaniach. 



<div class="space-v"><hr/></div>

<div class="space-v">
<b>Leszek Jakubowski</b>, jeden z członków Poznańskiego NigmaLabs, opowie czym jest hackerspace i dlaczego warto się nim interesować. Masz dość złych sąsiadów, którym przeszkadza bicie, walenie lub stukanie? 
Leszek opowie co z tym zrobić i jak zdobyć kilku znajomych.
</div>

<div class="embed-responsive embed-responsive-4by3 text-center">
    <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/Rka-g-TwnPM" frameborder="0" allowfullscreen></iframe>
</div>

<div class="space-v"><hr/></div>

<p>
Jak to wygląda na świecie? Jest inaczej? W jakim kierunku chcemy zmierzać?    
</p>

<div class="embed-responsive embed-responsive-4by3 text-center">
    <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/wamwklXWK4M" frameborder="0" allowfullscreen></iframe>
</div>

<div class="embed-responsive embed-responsive-4by3 text-center">
    <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/58rbVFAroW4" frameborder="0" allowfullscreen></iframe>
</div>

<div class="space-v"><hr/></div>
{% endblock %}