{% extends '::base.html.twig' %}

{% block content %}
<h1>Informacje</h1>

<div class="space-v"><hr/></div>
<div>
    <div class="row">
        <div class="col-md-4">Stowarzyszenie</div>
        <div class="col-md-4">NIGMALABS</div>
    </div>
    <div class="row">
        <div class="col-md-4">KRS</div>
        <div class="col-md-4">0000410171</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a rel="nofollow" href="http://www.krs-online.com.pl/nigmalabs-krs-729809.html" target="_blank">krs-online</a>
        </div>
    </div>
</div>

<div class="space-v"><hr/></div>

<div>
    <div id="hatta-content"> 
        <a name="head-1"></a><h1 id="line_0">Statut Stowarzyszenia „NigmaLabs”<a href="#head-1" class="hatta-purple">&sect;</a></h1><a name="head-1-1"></a><h2 id="line_2">Rozdział I<a href="#head-1-1" class="hatta-purple">&sect;</a></h2><a name="head-1-1-1"></a><h3 id="line_3">Postanowienia Ogólne<a href="#head-1-1-1" class="hatta-purple">&sect;</a></h3><p id="line_5">1.	Stowarzyszenie nosi nazwę: „NigmaLabs” w dalszych postanowieniach statutu zwane Stowarzyszeniem.
        </p><p id="line_7">2.	Stowarzyszenie jest zrzeszeniem osób fizycznych, zawiązanym dla realizowania celów statutowych. Siedzibą stowarzyszenia jest miasto Poznań. Terenem działania jest Polska oraz Unia Europejska.
        </p><p id="line_9">3.	Dla realizacji celów statutowych stowarzyszenie może działać na terenie innych państw z poszanowaniem tamtejszego prawa.
        </p><p id="line_11">4.	Stowarzyszenie jest zawiązane na czas nieograniczony.
        </p><p id="line_13">5.	Stowarzyszenie może należeć do innych krajowych i międzynarodowych organizacji o podobnych celach.
        </p><p id="line_15">6.	Stowarzyszenie posiada osobowość prawną i działa na podstawie przepisów ustawy z dnia 7 kwietnia 1989 r. Prawo o Stowarzyszeniach (t.j. Dz.U. z 2001 r. Nr 79, poz. 855 z późn. zm.) oraz niniejszego statutu.
        </p><a name="head-1-2"></a><h2 id="line_17">Rozdział II<a href="#head-1-2" class="hatta-purple">&sect;</a></h2><a name="head-1-2-2"></a><h3 id="line_19">Cele i Środki Działania<a href="#head-1-2-2" class="hatta-purple">&sect;</a></h3><p id="line_21">7.	Celem Stowarzyszenia jest:
        </p><ul id="line_22"><li>działalność wspomagająca rozwój techniki, wynalazczości i innowacyjności oraz rozpowszechnianie i wdrażanie nowych rozwiązań technicznych w praktyce gospodarczej;</li><li>działalność wspomagająca naukę, szkolnictwo wyższe, edukację, oświatę i wychowanie;</li><li>działalność wspomagająca rozwój gospodarczy, w tym rozwój przedsiębiorczości;</li><li>upowszechnianie i ochrona wolności i praw człowieka oraz swobód obywatelskich, a także działania wspomagające rozwój demokracji;</li><li>wspieranie zadań w zakresie kultury, sztuki, ochrony dóbr kultury i dziedzictwa narodowego;</li><li>wspieranie i upowszechnianie kultury fizycznej;</li><li>działalność na rzecz integracji europejskiej oraz rozwijania kontaktów i współpracy między społeczeństwami.</li></ul><p id="line_30">8. Stowarzyszenie swe cele realizuje w szczególności poprzez:
        </p><ul id="line_31"><li>utworzenie i udostępnianie infrastruktury (pomieszczeń, narzędzi, urządzeń) członkom;</li><li>organizowanie seminariów, warsztatów, wykładów w zakresie nowych technologii oraz kultury i sztuki;</li><li>wymianę i propagowanie wiedzy między członkami Stowarzyszenia;</li><li>organizację i wspieranie wydarzeń oraz niezależnych projektów związanych z celami Stowarzyszenia.</li></ul><a name="head-1-3"></a><h2 id="line_36">Rozdział III<a href="#head-1-3" class="hatta-purple">&sect;</a></h2><a name="head-1-3-3"></a><h3 id="line_37">Członkowie – Prawa i Obowiązki<a href="#head-1-3-3" class="hatta-purple">&sect;</a></h3><p id="line_39">9. Członkami Stowarzyszenia mogą być osoby fizyczne i prawne. Osoba prawna może być jedynie członkiem wspierającym Stowarzyszenia.
        </p><p id="line_41">10.	Stowarzyszenie posiada członków:
        </p><ul id="line_42"><li>zwyczajnych,</li><li>wspierających,</li><li>honorowych.</li></ul><p id="line_46">11. Członkiem zwyczajnym Stowarzyszenia może być każda osoba fizyczna, która złoży deklarację członkowską na piśmie oraz zostanie przyjęta w poczet członków zwyczajnych na podstawie uchwały Zarządu.
        </p><p id="line_48">12.	Członkiem wspierającym Stowarzyszenia może zostać osoba fizyczna lub prawna deklarująca pomoc finansową, rzeczową lub merytoryczną w realizacji celów Stowarzyszenia.
        </p><p id="line_50">13.	Członkiem wspierającym staje się po złożeniu pisemnej deklaracji na podstawie uchwały Zarządu o przyjęciu na członka wspierającego.
        </p><p id="line_52">14.	Członkiem honorowym Stowarzyszenia może być osoba fizyczna, która wniosła wybitny wkład w działalność i rozwój Stowarzyszenia.
        </p><p id="line_54">15.	Członkowie honorowi są przyjmowani uchwałą Walnego Zgromadzenia na wniosek co najmniej 10 członków Stowarzyszenia.
        </p><p id="line_56">16.	Członkowie zwyczajni mają prawo:
        </p><p id="line_58">A.	biernego i czynnego uczestniczenia w wyborach do władz Stowarzyszenia,
        </p><p id="line_60">B.	korzystania z dorobku, majątku i wszelkich form działalności Stowarzyszenia,
        </p><p id="line_62">C.	udziału w zebraniach, wykładach oraz imprezach organizowanych przez Stowarzyszenie,
        </p><p id="line_64">D.	zgłaszania wniosków co do działalności Stowarzyszenia.
        </p><p id="line_66">17.	Członkowie zwyczajni mają obowiązek:
        </p><p id="line_68">A.	brania udziału w działalności Stowarzyszenia i realizacji jego celów,
        </p><p id="line_70">B.	przestrzegania statutu i uchwał władz Stowarzyszenia,
        </p><p id="line_72">C.	regularnego opłacania składek.
        </p><p id="line_74">18.	Członkowie wspierający i honorowi nie posiadają biernego oraz czynnego prawa wyborczego, mogą jednak brać udział z głosem doradczym w statutowych władzach Stowarzyszenia, poza tym posiadają takie prawa i obowiązki jak członkowie zwyczajni.
        </p><p id="line_76">19.	Członkowie honorowi są zwolnieni ze składek członkowskich.
        </p><p id="line_78">20.	Utrata członkostwa następuje na skutek:
        </p><p id="line_80">I.	pisemnej rezygnacji złożonej na ręce Zarządu,
        </p><p id="line_82">II.	wykluczenia przez Zarząd na pisemny wniosek trzech członków Stowarzyszenia:
        </p><ul id="line_83"><li>z powodu łamania statutu i nieprzestrzegania uchwał władz Stowarzyszenia,</li><li>z powodu notorycznego nie brania udziału w pracach Stowarzyszenia,</li><li>z powodu nie płacenia składek za okres pół roku.</li></ul><p id="line_87">21. Od uchwały Zarządu w sprawie przyjęcia w poczet członków Stowarzyszenia oraz pozbawienia członkostwa zainteresowanemu przysługuje odwołanie do Walnego Zgromadzenia Członków. Uchwała Walnego Zgromadzenia Członków jest ostateczna.
        </p><p id="line_89">22. Wolontariusze mogą wykonywać świadczenia na rzecz Stowarzyszenia w zakresie działalności statutowej. Członek Stowarzyszenia może również wykonywać świadczenia, jako wolontariusz, na rzecz Stowarzyszenia, którego jest członkiem.
        </p><a name="head-1-4"></a><h2 id="line_92">Rozdział IV<a href="#head-1-4" class="hatta-purple">&sect;</a></h2><a name="head-1-4-4"></a><h3 id="line_93">Władze Stowarzyszenia<a href="#head-1-4-4" class="hatta-purple">&sect;</a></h3><p id="line_95">23.	Władzami Stowarzyszenia są:
        </p><ul id="line_97"><li>Walne Zgromadzenie Członków,</li></ul><ul id="line_99"><li>Zarząd,</li></ul><ul id="line_101"><li>Komisja Rewizyjna.</li></ul><p id="line_103">24.	Kadencja wszystkich władz wybieralnych Stowarzyszenia trwa jeden rok, a ich wybór odbywa się w głosowaniu jawnym bezwzględną większością głosów.
        </p><p id="line_105">25.	Uchwały wszystkich władz Stowarzyszenia zapadają zwykłą większością głosów przy udziale co najmniej połowy członków uprawnionych do głosowania, chyba że dalsze postanowienia statutu stanowią inaczej. 
        </p><p id="line_107">26.	Walne Zgromadzenie Członków jest najwyższą władzą Stowarzyszenia. W Walnym Zgromadzeniu Członków biorą udział:
        </p><p id="line_109">A.	z głosem stanowiącym – członkowie zwyczajni,
        </p><p id="line_111">B.	z głosem doradczym – członkowie wspierający, honorowi oraz zaproszeni goście.
        </p><p id="line_113">27.	Walne Zgromadzenie Członków może być zwyczajne i nadzwyczajne.
        </p><p id="line_115">28. Walne Zgromadzenie Członków zwyczajne jest zwoływane przez Zarząd raz na rok, nie później niż do 30 czerwca danego roku. 
        </p><p id="line_117">29. Termin i miejsce Walnego Zgromadzenia Członków Zarząd podaje do wiadomości w formie pisemnej co najmniej na 14 dni przed terminem zebrania.
        </p><p id="line_119">30.	Walne Zgromadzenie Członków nadzwyczajne może się odbyć w każdym czasie. Jest zwoływane przez Zarząd z jego inicjatywy, na wniosek Komisji Rewizyjnej lub pisemny wniosek co najmniej 1/3 ogólnej liczby członków zwyczajnych Stowarzyszenia.
        </p><p id="line_121">31.	Uchwały Walnego Zgromadzenia Stowarzyszenia zapadają bezwzględną większością głosów, przy udziale połowy uprawnionych do głosowania członków. W drugim terminie uchwały są ważne bez względu na liczbę osób. Głosowanie jest jawne.
        </p><p id="line_123">32.	Do kompetencji Walnego Zgromadzenia należą:
        </p><p id="line_125">A.	określenie głównych kierunków działania i rozwoju Stowarzyszenia,
        </p><p id="line_127">B.	uchwalanie zmian statutu,
        </p><p id="line_129">C.	wybór i odwoływanie wszystkich władz Stowarzyszenia oraz uzupełnianie ich składu, 
        </p><p id="line_131">D.	udzielanie Zarządowi absolutorium na wniosek Komisji Rewizyjnej,
        </p><p id="line_133">E.	rozpatrywanie sprawozdań z działalności Zarządu i Komisji Rewizyjnej,
        </p><p id="line_135">F.	uchwalanie budżetu,
        </p><p id="line_137">G.	uchwalanie wysokości składek członkowskich,
        </p><p id="line_139">H.	podejmowanie uchwał w sprawie przyjęcia członka honorowego,
        </p><p id="line_141">I.	rozpatrywanie wniosków i postulatów zgłoszonych przez członków Stowarzyszenia lub jego władze,
        </p><p id="line_143">J.	rozpatrywanie odwołań od uchwał Zarządu w przedmiocie wykluczenie ze Stowarzyszenia,
        </p><p id="line_145">K.	podjęcie uchwały o rozwiązaniu Stowarzyszenia i przeznaczeniu jego majątku,
        </p><p id="line_147">L.	podejmowanie uchwał w każdej sprawie wniesionej pod obrady, we wszystkich sprawach nie zastrzeżonych do kompetencji innych władz Stowarzyszenia.
        </p><p id="line_149">33.	Zarząd jest powołany do kierowania całą działalnością Stowarzyszenia zgodnie z uchwałami Walnego Zgromadzenia Członków i reprezentuje Stowarzyszenia na zewnątrz. Członków Zarządu wybiera i odwołuje Walne Zgromadzenia. Uzupełnienia składu Zarządu w trakcie kadencji dokonuje Walne Zgromadzenie w drodze uchwały o powołaniu nowego członka Zarządu. Zarząd Stowarzyszenia składa się z trzech albo pięciu członków. Do reprezentowania Stowarzyszenia i składania oświadczeń woli,  w tym do zaciągania zobowiązań majątkowych, wymagane jest łączne działanie dwóch członków Zarządu.
        </p><p id="line_151">34.	Posiedzenia Zarządu odbywają się w miarę potrzeb, nie rzadziej jednak niż raz na miesiąc.
        </p><p id="line_153">35.	Do kompetencji Zarządu należą:
        </p><p id="line_155">A.	realizacja celów Stowarzyszenia,
        </p><p id="line_157">B.	wykonywanie uchwał Walnego Zgromadzenia Członków,
        </p><p id="line_159">C.	sporządzanie planów pracy i budżetu,
        </p><p id="line_161">D.	sprawowanie zarządu nad majątkiem Stowarzyszenia,
        </p><p id="line_163">E.	zwoływanie Walnego Zgromadzenia Członków,
        </p><p id="line_165">F.	przyjmowanie członków i pozbawianie członkostwa.
        </p><p id="line_167">36.	Komisja Rewizyjna powoływana jest do sprawowania kontroli nad działalnością Stowarzyszenia.
        </p><p id="line_169">37.	Komisja Rewizyjna składa się z 3 do 5 osób. Członków Komisji Rewizyjnej wybiera i odwołuje Walne Zgromadzenie. Uzupełnienia składu Komisji Rewizyjnej w trakcie kadencji dokonuje Walne Zgromadzenie w drodze uchwały o powołaniu nowego członka Komisji Rewizyjnej.
        </p><p id="line_171">38.	Do kompetencji Komisji Rewizyjnej należy:
        </p><p id="line_173">A.	kontrolowanie działalności Zarządu,
        </p><p id="line_175">B.	składanie wniosków z kontroli na Walnym Zgromadzeniu Członków,
        </p><p id="line_177">C.	prawo wystąpienia z wnioskiem o zwołanie Walnego Zgromadzenia Członków,
        </p><p id="line_179">D.	opiniowanie wniosków o absolutorium dla członków Zarządu Stowarzyszenia,
        </p><p id="line_181">E.	składanie sprawozdań ze swojej działalności na Walnym Zgromadzeniu Członków.
        </p><p id="line_183">39.	Stowarzyszenie opiera swą działalność na pracy społecznej ogółu członków.
        </p><a name="head-1-5"></a><h2 id="line_186">Rozdział V<a href="#head-1-5" class="hatta-purple">&sect;</a></h2><a name="head-1-5-5"></a><h3 id="line_187">Majątek i Fundusze<a href="#head-1-5-5" class="hatta-purple">&sect;</a></h3><p id="line_189">40.	Majątek Stowarzyszenia powstaje:
        </p><p id="line_191">A.	ze składek członkowskich,
        </p><p id="line_193">B.	darowizn, spadków, zapisów,
        </p><p id="line_195">C.	dotacji i ofiarności publicznej,
        </p><p id="line_197">D.	z dochodów z majątku stowarzyszenia, 
        </p><p id="line_199">E.     z prowadzenia działalności gospodarczej, w przypadku prowadzenia takiej działalności.
        </p><p id="line_201">41. Stowarzyszenie prowadzi gospodarkę finansową zgodnie z obowiązującymi przepisami.
        </p><p id="line_203">42.	Dochód z działalności gospodarczej  służy realizacji celów statutowych Stowarzyszenia i nie może być przeznaczony do podziału między jego członków.
        </p><a name="head-1-6"></a><h2 id="line_206">Rozdział VI<a href="#head-1-6" class="hatta-purple">&sect;</a></h2><a name="head-1-6-6"></a><h3 id="line_207">Postanowienia Końcowe<a href="#head-1-6-6" class="hatta-purple">&sect;</a></h3><p id="line_209">43.	Uchwałę w sprawie zmiany statutu oraz uchwałę o rozwiązaniu Stowarzyszenia podejmuje Walne Zgromadzenie Członków kwalifikowaną większością głosów 2/3 ogólnej liczby członków zwyczajnych.
        </p><p id="line_211">44.	Podejmując uchwałę o rozwiązaniu Stowarzyszenia Walne Zgromadzenie Członków określa sposób jego likwidacji, w tym osoby likwidatorów, oraz przeznaczenie majątku Stowarzyszenia.
        </p><p id="line_213">45.	W sprawach nie uregulowanych w niniejszym statucie zastosowanie mają przepisy powszechnie obowiązującego prawa, w szczególności ustawy Prawo o Stowarzyszeniach.
        </p>
    </div>
    <div class="space-v"><hr/></div>
</div>
{% endblock %}