{% extends '::base.html.twig' %}

{% block content %}
<h1>Zarząd</h1>


<div class="row">
    <div class="col-md-3">
        <img src="../resources/img/logo.png" alt="Sebastian Pożoga" />
    </div>
    <div class="col-md-9">
        <div><b>Sebastian Pożoga</b></div>
        <div> sebastian.pozoga@nigmalabs.org</div>

        <div></div>
        <div><b>Bartosz Pierzchała</b></div>
        <div> bartosz.pierzchala@nigmalabs.org</div>

        <div></div>
        <div><b>Maciej Urbański</b></div>
        <div> maciej.urbanski@nigmalabs.org</div>
    </div>
</div>
{% endblock %}